*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
  width: 250px; 
  margin: 0 auto;
    padding-left: 75px;
}
.foto{
    width: 200px;
    height: 200px;
    background-image: url(suo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 100%;
}
p{
    width: 300px;
   margin: 0 auto;
    padding-left: 100px;
        
}